<!DOCTYPE html>
<html>

<head>
    <title>
        Articles
    </title>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900&amp;display=swap" rel="stylesheet">
    <link href="/app.css" rel="stylesheet">
    <script defer src="/index.js"></script>
</head>

<body style="visibility: hidden">
    <div id="app">
        <%- include('../include/navigation'); -%>
        <article-list count="8"></article-list>
    </div>
</body>

</html>